@font-face {
    font-family: 'Sinais Estrangeiro';
    src: url('SinaisEstrangeiro-Regular.eot');
    src: url('SinaisEstrangeiro-Regular.eot?#iefix') format('embedded-opentype'),
        url('SinaisEstrangeiro-Regular.woff2') format('woff2'),
        url('SinaisEstrangeiro-Regular.woff') format('woff'),
        url('SinaisEstrangeiro-Regular.ttf') format('truetype'),
        url('SinaisEstrangeiro-Regular.svg#SinaisEstrangeiro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

